<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Breeze-welcome</title>
<link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>

<div class="container">
	<h1 class="effect1">Breeze-旅游大数据平台</h1>
	<p>欢迎您的光临，在这里您可以看到最新的旅游信息。</p>
</div>

<section>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
</section>

<script src='../static/js/anime.min.js'></script>
<script src="../static/js/script.js"></script>

</body>
</html>